@font-face {
    font-family: Anurati-Regular;
    src: url(../fontes/anurati_font/Anurati_Regular.otf);
}

@font-face {
    font-family: 'Zen-Antique-Soft, serif';
    src: url(../fontes/zen_antique_soft/ZenAntiqueSoft-Regular.ttf);
}