.container-lista-nome {
    color: var(--color-text-principal);
    font-size: 2.0rem;
}

.container-lista {
    margin-top: 10px;
    color: var(--color-text-principal);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;

    h1 {
        margin: 0;
        font-size: 2.0rem;
        
    }
    a {
        text-decoration: none;
        font-size: 1.6rem;
        color: var(--color-text-principal);
        background: none;
        border: 1px solid $color-blue-turquoise;  
        padding: 13px 25px;
        text-align: center;
        border-radius: 5px;
        transition: 0.2s ease;
        display: block;
        margin-left: 10px;
    }
    a:hover {
        background: $color-blue-turquoise;
        transform: translateY(-5px);
        color: #fff;
    }

    img {
        padding: 5px;
    }
}

@media (max-width: 630px) {
    .container-lista {
        flex-wrap: wrap;
        justify-content: center;
    }
}